@import url("https://fonts.googleapis.com/css?family=Roboto:200,700");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,400italic");

input:focus, textarea:focus, button:focus {
    outline: none;
}

body{
background: #F0F0F0;
margin: 0px;
}

.header-fixed {
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 2px 10px -6px rgba(0,0,0,0.75);
  position:absolute;
  top:0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  margin:auto;
  width:auto;
  font-family: Roboto;
  font-weight: 200;
  font-size: 42px;
  color: #000;
}

img{
position:static;
}

.dtext{
  position: relative;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 18px;
  margin: 32px;
}

.card{
  display: inline-block;
  border-radius: 6px;
  position: relative;
  margin: 10px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 2px 10px -6px rgba(0,0,0,0.75);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card:hover, .card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.card img{
  padding-top: 0px;
border-radius: 6px 6px 0px 0px;
}

.txt{
width: 220px;
font-family: "Roboto";
font-weight: 200;
font-size: 18px;
position:relative;
text-align: center;
padding: 10px;
color: rgba(0, 0, 0, 0.75);
}

.blogtitle{
color: #333;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: Roboto,sans-serif;
letter-spacing: .01rem;
font-weight: 700;
font-style: normal;
font-size: 36px;
line-height: 1.58;
letter-spacing: -.003em;
}

.blogsubtitle{
margin-top: -4px;
color: rgba(0, 0, 0, 0.44);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: Roboto,sans-serif;
letter-spacing: .01rem;
font-weight: 200;
font-size: 14px;
letter-spacing: -.003em;
}

.blogtxt{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-family: Alegreya,Georgia,Cambria,"Times New Roman",Times,serif;
letter-spacing: .01rem;
font-weight: 400;
font-style: normal;
font-size: 21px;
line-height: 1.58;
letter-spacing: -.003em;
}

.blogtxt i{
  font-style: italic;
}

.blogcontainer{
  margin: auto;
  padding-top: 120px;
  width: 710px;
}

.blogcontainer img{
max-width: 720px;
margin-left: -5px;
padding-top: 32px;
}


a{
  text-decoration:none;
}

.footer {
  font-family: "Roboto";
  font-weight: 200;
  background:#333333;
  width: auto;
  color: #fff;
  height:auto;
  position:relative;
  bottom:0;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  left:0px;
  right:0px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

/* Uses https://github.com/IanLunn/Hover */
.hvr-grow-shadow {

      background-color: #fff;
      display: inline;
      border: none;
      margin: 4px;
      border-radius: 32px;
      color: rgba(0, 0, 0, 0.85);
      width: 36px;
      height: 36px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-family: "Roboto";
      font-weight: 900;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  outline: none;
}

  .heart
  {
    display: inline;
    font-size: 14px;
    color: #e74c3c;
  }

.cont{
  display: inline;
  margin: 20px;
  padding: 20px;
  align-content: space-between;
}

.scale75{
  transform: scale(.75,.75);
}
/*gyanl*/

@media only screen and (max-width: 768px) {

  .blogcontainer{
width: 90%;
}
.blogcontainer img{
max-width: 100%;
transform: scale(1.1,1.1);
padding-top: 32px;
margin-left: 0px;
padding-bottom: 12px;
}
.blogtxt{
  font-size: 18px;
}

.scale75{
  transform: none;
}

}
