@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");
body {
  background: #eeeeee;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(#ffffff, #eeeeee);
  background-repeat: no-repeat;
  background-size: 100vw 100vh; }

.leftblock {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  width: 300px;
  height: 100%;
  background-image: #fff;
  border-right: 1px solid #ddd; }

.fourofourblock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 24px;
  background-image: linear-gradient(#eeeeee, #dddddd); }

.btn2 {
  display: block;
  margin-top: 10px;
  border-radius: 0px 0px 14px 14px;
  padding-top: 12px;
  text-align: right;
  padding-bottom: 12px;
  padding-right: 16px;
  font-size: 16px;
  opacity: .75;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition-duration: .2s;
  transition-property: box-shadow; }

.btn {
  display: block;
  border-radius: 4px;
  padding-top: 12px;
  text-align: center;
  padding-bottom: 12px;
  font-size: 18px;
  background-image: linear-gradient(-180deg, #5B86FF 0%, #5674FF 100%);
  transition-duration: .2s;
  transition-property: box-shadow; }

a .btn {
  color: #ffffff;
  text-decoration: none; }

a {
  color: #5B86FF;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.card {
  margin: 2px 2px 10px 2px;
  display: inline-block;
  border: 1px solid #eee;
  width: 280px;
  height: auto;
  border-radius: 14px;
  transition: .2s; }

.card:hover {
  transform: scale3d(0.98, 0.98, 1);
  border: 1px solid #ddd;
  border-radius: 14px; }

.card img {
  width: 280px;
  height: 180px;
  border-radius: 14px 14px 0px 0px; }

.card p {
  font-size: 14px;
  margin: 2px 20px -5px 20px;
  text-align: left;
  line-height: 22px; }

.zomato {
  background: #cb202d;
  color: #fff; }

.pmo {
  background: #3c3384;
  color: #fff; }

.lettuce {
  background: #fff;
  color: #006837; }

.banking {
  background: #c4c4c4;
  color: #333; }

.hackindia {
  background: #d5d6d8;
  color: #444; }

.chess {
  background: #cfc1f1;
  color: #5742ad; }

.mediumlink {
  font-size: 14px;
  font-weight: 400; }

.rightblock {
  background: #eee;
  margin-top: -40px;
  z-index: 10;
  margin-left: 348px; }

.gyanface {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-image: url(../../assets/img/gyanface.png); }

.title {
  visibility: collapse;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff; }

.blueheader {
  padding-top: 16px;
  margin-bottom: -10px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #5B86FF; }

.descriptor {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 24px; }

.hvr-grow-shadow {
  text-decoration: none;
  background-color: #ffffff;
  display: inline;
  border: 1px solid #ddd;
  margin: 4px;
  padding: 2px;
  border-radius: 32px;
  color: #5B86FF;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 20px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-transform; }

.hvr-grow-shadow:hover,
.hvr-grow-shadow:active {
  box-shadow: 0px 3px 34px -4px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  outline: none; }

.heart {
  display: inline;
  font-size: 14px;
  color: #dddddd; }

.footer {
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  body {
    background-image: url("../../assets/img/backgyan.jpg");
    background-color: #F2F1F6;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    margin: 0px; }
  .title {
    color: #ffffff; }
  .descriptor {
    font-size: 16px; }
  .blueheader {
    padding-top: 20px; }
  .leftblock {
    position: relative;
    width: auto;
    height: auto; }
  .rightblock {
    margin-left: auto; }
  .card {
    border-radius: 10px;
    width: 90vw;
    height: auto;
    margin-bottom: 16px;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.05); }
  .card img {
    border-radius: 010px 10px 0px 0pxpx;
    width: 90vw;
    height: auto; }
  .card p {
    width: 78vw;
    font-size: 16px;
    line-height: 26px; }
  .prefooter {
    height: 200px; }
  .footer {
    visibility: visible;
    background-image: linear-gradient(-180deg, transparent 0%, black 100%);
    color: #fff;
    padding-bottom: 10px; }
  .fourofourblock {
    transform: translate(0, 0);
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 85vw;
    height: auto;
    background: transparent; }
  .fourofourblock p {
    color: #ffffff; }
  .btn2 {
    border-radius: 0px 0px 10px 10px;
    padding: 20px 28px 24px 20px;
    font-size: 18px; } }
